*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  max-width: 1200px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__list {
  height: 298px;
  width: 400px;
  overflow: auto;
  position: relative;
}

.title {
  margin-bottom: 26px;
}

.result__video-container {
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  height: 100%;
  width: 711px;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.content__video-card-thumbnail {
  object-fit: cover;
  width: 194px;
  object-position: center;
}

.content__video-card-description-container {
  width: 200px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 7px;
}
.search-form__textfield {
  width: 225px;
  height: 27px;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-left: none;
  border-right: none;
  align-items: center;
  color: inherit;
}
.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: 1px solid #fff;
}
.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  padding: 1px;
  box-sizing: border-box;
  display: block;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  border: 1px solid #fff;
  padding: 0;
}

.content__video-card-title {
  line-height: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__label {
  width: fit-content;
  height: 22px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__fieldset {
  border: none;
  cursor: pointer;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding: 1px;
}

.search-form__label:focus {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  width: 194px;
}

input {
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: block;
  width: 18px;
  height: 18px;
  background-color: transparent;
  outline: 1px solid #fff;
  border: 1px solid black;
}
.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__checkbox:checked + span {
  background-color: #fff;
  border: 1px solid black;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  height: 34px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: flex-end;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: 1px solid #fff;
}

.more-button {
  width: 100%;
}
